#container_div {
    margin: 30px auto;
    width: 100%;
    display: flex;
}

.grid_div {
    padding: 1px;
    display: grid;
    grid-template-columns: repeat(16, 30px);
    grid-template-rows: repeat(16, 30px);
    grid-gap: 1px;
    flex-grow: 1;
}
