#container_div {
    background-color: rgb(0, 0, 0);
    margin: 30px auto;
    width: min-content;
    padding: 1px;
    display: grid;
    grid-template-columns: repeat(16, 30px);
    grid-template-rows: repeat(16, 30px);
    grid-gap: 1px;
}
